<div class="container">
  <h1>Sign up</h1>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group">
      <label for="email">E-mail</label>
      <input
        id="email"
        name="email"
        class="form-control"
        placeholder="Enter your email..."
      />
      <!-- [(ngModel)]="userSettings.name" -->
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input
        id="username"
        name="username"
        class="form-control"
        placeholder="Enter your username..."
      />
      <!-- [(ngModel)]="userSettings.name" -->
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Enter your password..."
      />
    </div>
    <div class="form-group">
      <label for="confirmPassword">Password</label>
      <input
        type="password"
        id="confirmPassword"
        name="confirmPassword"
        class="form-control"
        placeholder="Confirm your password..."
      />
    </div>
    <button class="btn btn-primary" (click)="register()">Register</button>
  </form>
</div>
